@import "../../reset.scss";

.video {
    position: relative;
    margin-bottom: 1rem;
    margin: 1rem;
    padding: 0.5rem;
    overflow: hidden;

    font-weight: 500;
    font-size: 0.9rem;

    cursor: pointer;

    .modal {
        transform: translateX(-4.5rem) translateY(2rem);
        padding: 0;
        border-radius: 0.4rem;

        .watch-later,
        .library {
            padding: 0.75rem;

            &:hover {
                background-color: var(--gray-color);
            }
        }
    }

    &:hover {
        border-radius: 0.4rem;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
        transform: translateY(-0.3rem);
        transition: transform 0.2s ease-in-out;
    }

    &__top {
        position: relative;
        margin-bottom: 0.5rem;

        img {
            border-radius: 0.25rem;
            width: 100%;
        }
        span {
            position: absolute;

            bottom: 0.6rem;
            right: 0.3rem;

            padding: 0.2rem;
            color: var(--white-color);
            background: #080808;
            border-radius: 3px;
        }
    }

    &__down {
        display: flex;

        .channel__img {
            width: 2.5rem;
            height: 2.5rem;

            border-radius: 100%;
            margin-right: 0.5rem;
            cursor: pointer;
        }
    }

    &__title {
        font-size: 1.05rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
        color: var(--title-color);

        @include line-clamp(2);
    }

    &__details {
        display: flex;
        align-items: center;
        color: var(--text-color-light);
    }

    &__channel {
        display: flex;
        align-items: flex-start;
        margin: 0 0 0.5rem 0;
        color: var(--text-color-light);

        p {
            margin-bottom: 0; //remove default bottom margin

            &:hover {
                color: var(--title-color);
            }
        }
    }

    &__info {
        width: 100%;
    }

    &__options {
        font-size: var(--big-font-size);
        color: var(--text-color-light);

        &:hover {
            color: var(--title-color);
        }
    }
}
