.auth_container {
    padding: 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
        font-size: var(--big-font-size);
        text-align: center;
        margin-bottom: 2rem;
    }

    .input__container {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    form {
        width: 18rem;

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            display: block;
            width: 100%;
            border-radius: 0.25rem;
            border: 1px solid var(--text-color-light);
            padding: var(--sp-0-75);
            margin-bottom: var(--sp-0-5);
            font-size: var(--small-font-size);
        }

        .fullname__container {
            display: flex;
            justify-content: space-between;
            gap: 1rem;

            .input__container {
                input {
                    width: 100%;
                }
            }
        }

        p {
            margin: var(--sp-0-5) 0;
            font-size: var(--normal-font-size);
        }

        .signup__container-cta {
            display: flex;
            gap: 1rem;
            align-items: center;

            label,
            input {
                margin: 0;
                cursor: pointer;
            }
        }

        .input__container-cta {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            justify-content: space-between;

            .checkbox {
                display: flex;
                gap: 1rem;
                align-items: center;
            }
            .forgot {
                font-size: var(--small-font-size);
            }
            label,
            input {
                margin: 0;
                cursor: pointer;
            }
        }

        button,
        .login__btn,
        .signup__btn {
            text-align: center;
            color: var(--white-color);
            background-color: var(--title-color);
            width: 100%;
            padding: 1rem;
            margin: 1rem 0;
            border-radius: 0.25rem;
            cursor: pointer;

            &:hover {
                background-color: var(--dark-color);
            }
        }

        .login__container {
            text-align: center;
        }

        .legal {
            margin: 0.5rem 0;
            .small {
                font-size: var(--smaller-font-size);
            }
        }

        a {
            color: var(--secondary-color);
        }
    }

    label {
        display: block;
        margin-bottom: var(--sp-0-25);
        font-size: var(--smaller-font-size);
    }

    .legal {
        text-align: center;
    }
}
