@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

@font-face {
    font-family: "Natalic Script";
    src: url(../../assets/fonts/Natalia.otf);
}

.videos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @media screen and (min-width: 375px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: 1600px) {
        grid-template-columns: repeat(5, 1fr);
    }

    @media screen and (min-width: 2200px) {
        grid-template-columns: repeat(6, 1fr);
    }
}

.banner {
    font-family: "Natalic Script", cursive;
    font-size: var(--sp-4);

    position: relative;
    height: 18rem;
    margin: 0 1.3rem;
    padding: var(--sp-1) var(--sp-1-5);
    border-radius: 0.5rem;

    color: white;
    opacity: 0.9;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
        url("../../assets/banner.jpg");
    background-size: cover;
    box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.6);
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
    }

    &__text {
        position: absolute;
        top: 1rem;
        opacity: 0.7;
    }
}
