.videoSmall {
    display: flex;
    margin-top: 0.75rem;
    min-height: 80px;
    max-height: 80px;
    width: 95%;
    height: 80px;
    cursor: pointer;

    @media screen and (min-width: 1440px) {
        width: 25vw;
    }
}

.videoSmall:first-of-type {
    margin-top: 0;
}

.videoSmall__left {
    position: relative;
    object-fit: contain;
    margin-right: 0.75rem;
    img {
        width: 80px;
        height: 50px;
        object-fit: cover;

        @media screen and (min-width: 375px) {
            width: 100px;
            height: 100%;
        }

        @media screen and (min-width: 425px) {
            width: 150px;
        }
    }

    @media screen and (min-width: 1440px) {
        width: 130px;
    }

    &__duration {
        position: absolute;
        bottom: 0.25rem;
        right: 0.25rem;

        color: var(--white-color);
        background-color: var(--dark-color);
        padding: 0 0.25rem;
        border-radius: 2px;
    }
}

.videoSmall__thumbnail {
    width: inherit;
    height: 80px;
}

.videoSmall__right {
    max-width: 220px;
}

.videoSmall__title {
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.01px;
}
.videoSmall__texts {
    margin-top: 0.25rem;
    align-self: bottom;
}
.videoSmall__texts > p {
    font-size: 0.9rem;
}

.videoSmall__channelView {
    flex-direction: column;
    width: 220px;
    margin-top: 50px;
    margin-bottom: 2rem;
}
.videoSmall__channelView:first-of-type {
    margin-top: 50px;
    margin-bottom: 2rem;
}

.videoSmall__channelView__img {
    width: 200px;
}
