body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.home__container {
    height: 90vh;
    display: flex;
}
@media screen and(max-width: 520px) {
    .home__container {
        width: 100vw;
    }

    .home__main {
        max-width: 95vw;
    }
}

.home__main {
    width: 100%;
    overflow-y: scroll;
}
